# Arquivos de compilação Python
*.pyc
__pycache__/

# Arquivos de ambiente virtual
venv/
env/
.env

# Arquivos de saída de IDEs
.idea/
.vscode/

# Arquivo de cache pip
pip-wheel-metadata/

# Arquivos de registro
*.log

# Arquivos de configuração de sistema
*.swp
.DS_Store
